@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ArtistManagement

<h2>@Model.A_Name</h2>

<div class="thumbnail">
    <img alt="@Model.A_Name" src="@Model.A_ImageURL">
    <div class="caption-full">
        <h3>
            <a href="#">@Model.A_Name</a>
        </h3>
        <h4 style="color:black">@Model.A_ShortDescription</h4>
        <p style="color: black">@Model.A_LongDescription</p>
    </div>

</div>
